.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 302px;
  object-position: 0% 50%;
  margin: 129px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 56px 56px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 46px auto 60px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.375em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 394px;
    height: 239px;
    margin-top: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 206px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 51px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 811px;
}

.u-section-2 .u-text-1 {
  width: 315px;
  margin: 80px auto 0;
}

.u-section-2 .u-slider-1 {
  width: 758px;
  min-height: 665px;
  margin: -18px auto 45px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-2 .u-text-2 {
  margin: 17px auto 0;
}

.u-section-2 .u-video-1 {
  width: 738px;
  height: 400px;
  margin: 29px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 29px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-image-1 {
  height: 570px;
  margin: 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-text-4 {
  text-align: center;
  width: 181px;
  margin: 17px auto 0;
}

.u-section-2 .u-image-2 {
  height: auto;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  text-align: center;
  margin: 26px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-2 .u-text-6 {
  text-align: center;
  margin: 16px auto 0;
}

.u-section-2 .u-image-3 {
  height: 368px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  text-align: center;
  margin: 9px 0 0;
}

.u-section-2 .u-carousel-item-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-2 .u-text-8 {
  text-align: center;
  margin: 17px auto 0;
}

.u-section-2 .u-image-4 {
  height: 409px;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  text-align: center;
  margin: 18px 0 0;
}

.u-section-2 .u-carousel-item-6 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-2 .u-text-10 {
  text-align: center;
  margin: 17px auto 0;
}

.u-section-2 .u-image-5 {
  width: 500px;
  height: 425px;
  margin: 17px auto 0;
}

.u-section-2 .u-text-11 {
  text-align: center;
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-2 .u-text-12 {
  text-align: center;
  width: 245px;
  margin: 17px auto 0;
}

.u-section-2 .u-image-6 {
  height: 354px;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  text-align: center;
  margin: 24px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 40px;
  height: 40px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
    margin-top: 0;
    margin-bottom: 36px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 388px;
    margin-top: 80px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-2 .u-slider-1 {
    width: 720px;
    min-height: 655px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-video-1 {
    width: 586px;
    height: 321px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 70px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-2 .u-slider-1 {
    width: 540px;
    min-height: 578px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-2 .u-video-1 {
    height: 285px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-image-1 {
    height: 442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 65px;
    height: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 30px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 2px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 330px;
    margin-top: 35px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    width: 420px;
    height: 357px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 303px;
    width: 501px;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-13 {
    margin-top: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 557px;
    margin-top: -6px;
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-2 .u-video-1 {
    height: 175px;
    margin-top: 75px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 25px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    height: 346px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 66px;
    object-position: 60.51% 50%;
  }

  .u-section-2 .u-text-5 {
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 9px;
  }

  .u-section-2 .u-image-3 {
    height: 208px;
    margin-top: 39px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: 181px;
    margin-top: 9px;
  }

  .u-section-2 .u-image-4 {
    height: 275px;
    margin-top: 10px;
    object-position: 14.37% 50%;
  }

  .u-section-2 .u-text-9 {
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-10 {
    width: 181px;
    margin-top: 9px;
  }

  .u-section-2 .u-image-5 {
    height: 301px;
    width: 301px;
    margin-top: 3px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 9px;
  }

  .u-section-2 .u-image-6 {
    height: 194px;
    width: 320px;
    margin-top: 54px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-2 .u-carousel-control-1 {
    top: 190px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 190px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 848px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 16px;
  margin-bottom: 44px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 688px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 4px 20px 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 4px 20px 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 4px 20px 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 4px 20px 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-3 .u-text-10 {
  margin: 4px 20px 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-3 .u-text-12 {
  margin: 4px 20px 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-3 .u-icon-4 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 91px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1985px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1888px;
  }
} .u-section-4 {
  min-height: 750px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 376px;
  background-image: url("images/strength-people-hands-success-meeting.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 376px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 376px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-image-2 {
  min-height: 376px;
  background-image: url("images/business-success-concept-on-wooden-table-top-view-hands-protecting-wooden-figures-of-people.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 618px;
  }

  .u-section-4 .u-image-1 {
    min-height: 310px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 310px;
  }

  .u-section-4 .u-image-2 {
    min-height: 310px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 473px;
  }

  .u-section-4 .u-image-1 {
    min-height: 237px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 237px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 355px;
  }

  .u-section-4 .u-image-1 {
    min-height: 356px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-2 {
    min-height: 356px;
    order: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 224px;
  }

  .u-section-4 .u-image-1 {
    min-height: 224px;
  }

  .u-section-4 .u-image-2 {
    min-height: 224px;
  }
}