 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/1642534283044.jpg");
  background-position: 37.97% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-image-1 {
  width: 298px;
  height: 179px;
  object-position: 100% 50%;
  margin: 256px auto 0 20px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  margin: 40px 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 29px auto 60px 20px;
  padding: 0 34px 1px 33px;
}

.u-section-1 .u-icon-1 {
  font-size: 2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 30.42% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 757px;
}

.u-section-2 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1096px;
  margin: 22px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 652px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 18px;
}

.u-section-2 .u-gallery-1 {
  height: 400px;
  width: 535px;
  margin: 22px 53px 0 52px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-back-image-1 {
  object-position: 97.96% 50%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-back-image-3 {
  object-position: 97.96% 50%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-back-image-4 {
  object-position: 97.96% 50%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-2 {
  margin: 11px 50px 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.625em;
}

.u-section-2 .u-icon-2 {
  font-size: 1.625em;
}

.u-section-2 .u-icon-3 {
  font-size: 1.625em;
}

.u-section-2 .u-icon-4 {
  font-size: 1.625em;
}

.u-section-2 .u-icon-5 {
  font-size: 1.625em;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 587px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 359px;
  object-position: 75.55% 50%;
  width: 344px;
  margin: 33px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  transition-duration: 0.75s;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: 76px auto 0;
}

.u-section-2 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-2 .u-gallery-1 {
    width: 497px;
    margin-right: 4px;
    margin-left: 4px;
  }

  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 503px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-gallery-1 {
    width: 372px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 325px;
    width: 312px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    width: 485px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    width: 320px;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 905px;
}

.u-section-3 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1096px;
  margin: 22px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 800px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-gallery-1 {
  width: 644px;
  height: 588px;
  grid-gap: 10px 10px;
  margin: 65px 25px 0;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  object-position: 97.96% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-back-image-2 {
  object-position: 97.96% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-image-3 {
  object-position: 97.96% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-image-4 {
  object-position: 97.96% 50%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-image-5 {
  object-position: 97.96% 50%;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-image-6 {
  object-position: 97.96% 30.44%;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding: 10px 0 0;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.75s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 22px auto 0 256px;
}

.u-section-3 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 800px;
}

.u-section-3 .u-container-layout-2 {
  padding: 4px 29px;
}

.u-section-3 .u-image-7 {
  height: 298px;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-2 {
  margin: 28px 13px 0 2px;
}

.u-section-3 .u-icon-3 {
  width: 16px;
  height: 22px;
  font-size: 1.625em;
}

.u-section-3 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.625em;
}

.u-section-3 .u-icon-5 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.625em;
}

.u-section-3 .u-icon-6 {
  font-size: 1.625em;
}

.u-section-3 .u-image-8 {
  width: 314px;
  height: 265px;
  margin: 27px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 686px;
  }

  .u-section-3 .u-gallery-1 {
    width: 595px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 95px;
    height: 95px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 95px;
    height: 95px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 95px;
    height: 95px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 95px;
    height: 95px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 95px;
    height: 95px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 95px;
    height: 95px;
  }

  .u-section-3 .u-btn-1 {
    border-style: none;
    margin-left: 157px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 890px;
  }

  .u-section-3 .u-image-7 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-3 .u-image-8 {
    width: 303px;
    height: 221px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 9px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-gallery-1 {
    width: 408px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 72px;
    height: 72px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 72px;
    height: 72px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 72px;
    height: 72px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 72px;
    height: 72px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 72px;
    height: 72px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 72px;
    height: 72px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 18px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-7 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    width: 208px;
    height: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 749px;
  }

  .u-section-3 .u-gallery-1 {
    width: 490px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 854px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 373px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    width: 368px;
    height: 261px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 53px;
    height: 53px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 53px;
    height: 53px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 53px;
    height: 53px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 53px;
    height: 53px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 53px;
    height: 53px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 53px;
    height: 53px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 604px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-7 {
    height: 230px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    width: 320px;
    height: 227px;
    margin-top: 17px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1096px;
  margin: 22px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 663px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 0 5px;
}

.u-section-4 .u-gallery-1 {
  height: 500px;
  width: 694px;
  margin: 22px 27px 0 22px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-back-image-2 {
  object-position: 50% 77.93%;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-back-image-4 {
  object-position: 50% 0%;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.75s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 27px auto 0 288px;
}

.u-section-4 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 663px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 72px 0 0 22px;
}

.u-section-4 .u-image-1 {
  height: 452px;
  object-position: 50% 100%;
  width: 315px;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-4 .u-gallery-1 {
    width: 637px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
    margin-left: 182px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 428px;
    width: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-gallery-1 {
    width: 487px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 32px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 593px;
  }

  .u-section-4 .u-image-1 {
    height: 327px;
    width: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1601px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 17px;
    margin-right: 27px;
    margin-left: 22px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 862px;
  }

  .u-section-4 .u-image-1 {
    height: 665px;
    width: 511px;
    margin-top: 0;
    margin-right: 7px;
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-4 .u-gallery-1 {
    width: 335px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 586px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: 22px;
  }

  .u-section-4 .u-image-1 {
    height: 408px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1) !important;
}